<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.library.mapper.RoleMapper">

    <resultMap id="BaseResultMap" type="com.example.library.entity.Role">
        <id column="id" property="id"/>
        <result column="role_name" property="roleName"/>
        <result column="permission_json" property="permissionJson"/>
    </resultMap>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT * FROM role WHERE id = #{id}
    </select>

    <select id="selectByName" resultMap="BaseResultMap">
        SELECT * FROM role WHERE role_name = #{roleName}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * FROM role ORDER BY id DESC
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO role (role_name, permission_json)
        VALUES (#{roleName}, #{permissionJson})
    </insert>

    <update id="update">
        UPDATE role
        <set>
            <if test="roleName != null">role_name = #{roleName},</if>
            <if test="permissionJson != null">permission_json = #{permissionJson},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM role WHERE id = #{id}
    </delete>

</mapper>